<h1>Roll the Dice!</h1>

<% 
die1 = ["1","2","3","4","5","6"].sample
die2 = ["1","2","3","4","5","6"].sample

#die2 = [1,2,3,4,5,6].sample
#die2 = rand(6) +1
image_link1 = "image src =http://golearntocode.com/images/dice/" + die1 + ".png"
image_link2 = "image src =http://golearntocode.com/images/dice/" + die2 + ".png"
%>


<<%=image_link1%>>
<<%=image_link2%>>

